body{
	margin:0;
	font-size:40px;
}
section{
	border-bottom:1px solid black;
}

button{
	background: none;
	outline: none;
	border: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
/* ACCESSIBILITY */
.screenreader-text{
	visibility: hidden;
	width:0;
	height:0;
}

/* NAVIGATION */
nav{
	min-height:90vh;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 2;
}
nav .icon-menu{
	pointer-events: none;
}
nav.closed .icon-menu, nav.open .icon-menu{
	pointer-events: auto;
}
nav.closed{
	overflow: hidden;
	height:auto;
	transform:translateY(-100%);
	position: fixed;
	transition:transform 0.2s;
	background: lightgrey;
}
nav.closed ul{
	margin:0;
	overflow: hidden;
}
nav.open{
	transform:translateY(0%);
	height:auto;
	min-height:100vh;
	position: fixed;
	transition:transform 0.2s;
	background: lightgrey;
}
.icon-menu{
	color:grey;
	font-size:50px;
	cursor: pointer; 
}
#nav-trigger{
	position: fixed;
	z-index: 3;
	top:0;
	left:0;
}
main{
	margin-top:calc(100vh - 35px);
}
/* HEADERS */
h1{
	text-align:center;
	position: sticky;
	top:0;
	background:white;
	margin:0 auto;
}
/* SECTIONS */
section{
	min-height:100vh;
}