/*FONT IMPORTS*/

/*Autopia-Bold-Italic*/
@font-face {
    font-family: 'Autopia-Bold-Italic';
    src: url('../assets/fonts/autopia/Autopia-Bold-Italic/Autopia-Bold-Italic.eot'); /* IE 9 Compatibility Mode */
    src: url('../assets/fonts/autopia/Autopia-Bold-Italic/Autopia-Bold-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../assets/fonts/autopia/Autopia-Bold-Italic/Autopia-Bold-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../assets/fonts/autopia/Autopia-Bold-Italic/Autopia-Bold-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/autopia/Autopia-Bold-Italic/Autopia-Bold-Italic.svg#Autopia-Bold-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*Autopia-Bold*/
@font-face {
    font-family: 'Autopia-Bold';
    src: url('../assets/fonts/autopia/Autopia-Bold/Autopia-Bold/Autopia-Bold.eot'); /* IE 9 Compatibility Mode */
    src: url('../assets/fonts/autopia/Autopia-Bold/Autopia-Bold/Autopia-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../assets/fonts/autopia/Autopia-Bold/Autopia-Bold/Autopia-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../assets/fonts/autopia/Autopia-Bold/Autopia-Bold/Autopia-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/autopia/Autopia-Bold/Autopia-Bold/Autopia-Bold.svg#Autopia-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*Autopia-Italic*/
@font-face {
    font-family: 'Autopia-Italic';
    src: url('../assets/fonts/autopia/Autopia-Italic/Autopia-Italic.eot'); /* IE 9 Compatibility Mode */
    src: url('../assets/fonts/autopia/Autopia-Italic/Autopia-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../assets/fonts/autopia/Autopia-Italic/Autopia-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../assets/fonts/autopia/Autopia-Italic/Autopia-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/autopia/Autopia-Italic/Autopia-Italic.svg#Autopia-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*Autopia-Regular*/
@font-face {
    font-family: 'Autopia-Regular';
    src: url('../assets/fonts/autopia/Autopia-Regular/Autopia-Regular.eot'); /* IE 9 Compatibility Mode */
    src: url('../assets/fonts/autopia/Autopia-Regular/Autopia-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../assets/fonts/autopia/Autopia-Regular/Autopia-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/autopia/Autopia-Regular/Autopia-Regular.svg#Autopia-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    }
/*SELECTRIC*/
@font-face {
    font-family: 'Selectric';
    src: url('../assets/fonts/selectric/OTF/SelectricMono.otf') format('embedded-opentype'), 
         url('../assets/fonts/selectric/WOFF/SelectricMono.woff') format('woff'); 
    }
/*NEWSREADER*/
@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/newsreader/Newsreader-VariableFont_opsz,wght.ttf') format('truetype'); 
    }
/**/
body{
	margin:0;
	/* or 113% */
	background: #EDECE9;
	color:#2A1D64;
	font-family: Newsreader;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	text-rendering: geometricPrecision; 
}
p{
	margin:12px 0 12px 0;
	padding: 0;
}
p.standout{
	font-family: 'Selectric';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1em;
	border: 1px solid #2A1D64;
	background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #eae6f6 0%, #e9e9e9 100%);
	background-blend-mode: soft-light;
	margin-top: 12px;
    padding: 45px;
}

sup{
	line-height:0; 
	vertical-align:text-top;
}

sup a, sup a:link, sup a:hover, sup a:focus, sup a:visited{
	text-decoration: none;
	cursor: pointer;
	padding-bottom: 1px;
}

.page{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
/* HIGH CONTRAST MODE */

body.contrast{
	background: black;
}

body.contrast .intro,
body.contrast .navigation,
body.contrast footer{
	filter: grayscale(100%) contrast(200%);
}

body.contrast main,
body.contrast .in-page-navigation,
body.contrast #mobile-nav-trigger{
	filter: grayscale(100%) invert(200%) contrast(200%);
}

body.contrast main img{
	filter: invert(200%) contrast(100%);
}

/* Button styles */

a.button, a.button:hover, a.button:link, a.botton:focus, a.button:visited, button, button:hover, button:link, button:focus,  button:visited {
	display: inline-block;
	width: 40%;
	margin: 20px auto;
	background: none;
	outline: none;
	border: 1px solid;
	font-family: "Selectric";
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	letter-spacing: -0.1em;
	border-radius:60px;
	padding:20px 30px;
	text-decoration: none;
	cursor: pointer;
}

a.button, button{
	color: #2A1D64;
}

a.button:hover, button:hover{
	background:#4F30CA; 
	color:#EDECE9;
}

/*HR styles */
hr{
	background:#2A1D64;
	outline:none;
	border:none;
	height:1px;
	margin-top: 30px;
}
hr.star-border{
	background:url("../assets/icons/divider.svg");
	background-size: contain;
	background-repeat: repeat-x;
	background-position:left center;
	height: 30px;
}
/*Link & Heading styles */

a, a:link, a:hover, a:focus, a:visited{
	text-decoration: none;
	cursor: pointer;
	padding-bottom: 1.5px;
}

a, a:visited {
	color:#2A1D64;
	border-bottom: 1px solid #2A1D64;
}

a:hover {
	color:#4F30CA;
	border-bottom: 1px solid #4F30CA;
}

a:focus{
	color:#2A1D64;
	border-bottom: 2px solid #2A1D64;
}

li{
	list-style:  none;
}

h1,h2,h4,h5,h6{
	font-family: "Autopia-Regular";
	font-weight:normal;
	font-style: normal;
}
h1{
	margin: 50px 0 30px 0;
	font-size: 42px;
	line-height: 50px;
}
h2{
	font-size: 32px;
	line-height: 40px;
	margin: 18px 0 20px 0;
}
h3{
	font-family: "Newsreader";
	font-weight: bold;
	font-size: 26px;
	line-height: 34px;
}
/* ACCESSIBILITY */
.screenreader-text{
	visibility: visible;
	opacity: 0;
	width:0;
	display: block;
	height:0;
}

.audio{
	border:1px solid #2A1D64;
	margin: 12px 0 20px 0;
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #eae6f6 0%, #e9e9e9 100%);
	background-blend-mode: soft-light;
}
.audio audio, p{
	display: inline-block;
	vertical-align: middle;
}
.audio p{
	font-family: 'Selectric';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1em;
	margin: 0 25px 0 0;
}
/* INTRO */

/* NAVIGATION */
#left-sticky{
	display:inline-block;
/*	color: #EDECE9;*/
/*	height:400vh;*/
/*	background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #2A1E4D 0%, #3B3A72 100%);
	background-blend-mode: soft-light;*/
	position: relative;
	width: 30%;

}
#mobile-nav-trigger{
	display: none;
}
.intro img,.intro p{
	width: 35vw;
	display:block;
	font-family:"Autopia-Regular";
	margin: 0 auto;
}
.intro .inner p{
	margin-top:1em;
	color: #EDECE9;
}
.intro .inner{
	width: 100%;
	height: 100vh;
	display: flex;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
}
.intro{
	background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #2A1E4D 0%, #3B3A72 100%);
	background-blend-mode: soft-light;
	height: 100vh;
}
.inner{
	background: url('../assets/textures/stars.png');
	background-size:auto 100vh;
	background-position:center center;
	/* background-position: 40% center; */
	/* background-repeat:repeat; */
}
/*.global-nav{
	font-size:16px;
}*/
.navigation .global-nav  li{
	/* display: inline-block;
	border: none;
	padding:0; */
}
.navigation .global-nav  li a, .navigation .global-nav  li a:hover, .navigation .global-nav  li a:visited, .navigation .global-nav  li a:focus, .navigation .global-nav  li a:link, .setting a, .setting a:hover, .setting a:visited, .setting a:focus, .setting a:link{
	border:none;
	color:#EDECE9;
}
.navigation{
	top:0;
	position:fixed;
	color:#EDECE9;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 34px;
	letter-spacing: -0.1em;
	font-family: 'Selectric';
	background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #49387B 0%, #404385 100%);
	background-blend-mode: soft-light;
	height: 80px;
    overflow: hidden;
    width: auto;
    min-width: 80px;
    right: 0;
    z-index: 91;
    display: inline-block;
}

.navigation ul, .in-page-navigation ul{
	padding:0;
	margin:0;
	width:30vw;
}
.navigation li, .in-page-navigation li{
	border-top:1px solid;
	padding: 25px 0;
	margin: 0 25px;
}
.navigation li a, .in-page-navigation li a{
	text-decoration: none;
	border: none;
}

.in-page-navigation{
	font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.1em;
    font-family: 'Selectric';
    padding: 0;
/*    background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #2A1E4D 0%, #3B3A72 100%);
	background-blend-mode: soft-light;*/
	height:100vh;
	padding-top:5em;
}

.in-page-navigation li a.on:before{
	content: ' ';
    background: url(../assets/icons/bullet.svg);
    background-size: contain;
    height: 28px;
    vertical-align: bottom;
    width: 40px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    position: relative;
	padding: 0;
    bottom: 3px;
}
.navigation .global-nav{
	padding-top:25px;
	margin-bottom: 50px;
}

.navigation .setting-toggles, .navigation .global-nav{
	display: none;
}
/*.navigation li{
	padding:0;
	font-size:14px;
	border: none;
}
.navigation li a{
	display: none;
	padding:10px 0;
}
.navigation li a.on{
	display: block;
}
.navigation li a.on::before{
	height: 18px;
	width: 30px;
}*/
.navigation.open{
	height: auto;
}
.navigation.open li a{
	display: block;
	padding:10px 0;

}
.navigation.open ul{
	padding-top:50px;
}
.navigation.open li a.on{
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}
.navigation li a.on:before{
	display: none;
}

#mobile-nav-trigger{
	display: inline-block;
	position: absolute;
	background: linear-gradient(90deg, #49387B 0%, #404385 100%);
	width: 80px;
	height: 80px;
	right:0;
	text-align: center;
	top:0;
	z-index: 999;
	cursor: pointer;
}
#mobile-nav-trigger svg{
	position: relative;
	top: 15px;
	transition: 0.2s;
	width: 50px;
	height: 50px;
}
#mobile-nav-trigger.open svg{
	transform: rotate(45deg);
 	transform-origin:center;
}
 .open.navigation{
	height: 100vh;
}
 .open.navigation .setting-toggles,  .open.navigation .global-nav{
	display: block;
}
 .open.navigation ul{
	padding: 0;
}
 .open.navigation li{
	padding:0;
	width: 100%;
	margin:0;
	font-size:17px;
	border-bottom: 1px solid;
}
.in-page-navigation li:first-child, .open.navigation li:first-child{
	border:0;
}
 .open.navigation li:last-child{
	border:none;
}
 .open.navigation .global-nav{
	margin-top:5em;
	padding:0 25px;
}

 .open.navigation li a{
	display: block;
	padding:10px 0;
}
 .open.navigation li a.on{
	display: block;
}
 .open.navigation li a.on::before{
	height: 18px;
	width: 30px;
}
.setting-toggles{
 	background:url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #2A1E4D 0%, #3B3A72 100%);
 	background-blend-mode: soft-light;
 	position: absolute;
 	bottom:0;
 	width: 100%;
 	padding: 0;

}
.twoCol {
	display: flex;
}
.setting fieldset{
	margin: 0;
	padding: 0;
	border:none;
}
.setting{
	text-align: left;
	padding:25px 30px;
	font-size:16px;
	border-bottom:1px solid;
}

.setting input ~ label::before{
	content: '◯';
	opacity: 1;
	position: absolute;
	left:0;
	font-size: 25px;
	display: inline-block;
}
.setting input:checked ~ label::before{
	content: '◉';
	opacity: 1;
	position: absolute;
	left:0;
	font-size: 28px;
	display: inline-block;
}
.setting input:focus + label{
	box-shadow: 0 0px 5px white;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 5px;
}
.setting .option{
	position: relative;
	display: inline-block;
}
.setting label{
	width: 70px;
	cursor: pointer;
	margin-left:15px;
	text-align:left;
	display: inline-block;
}
.setting a{
	text-decoration: underline;
	border:none;
	display: inline-block;
}
.setting input{
	opacity: 0;
}
.setting:last-child{
	border:none;
}
.in-page-navigation{
	top:0;
	position:sticky;

}
/* FOOTER */
footer{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #2A1E4D 0%, #3B3A72 100%);
	background-blend-mode: soft-light;
	color:#EDECE9;
	padding: 25px 50px;
}
footer .footer-left{
	width: 40%;
	display: inline-block;
	margin-bottom:10px;
}
footer h4{
	margin-bottom:0;
}
footer .footer-right{
	width: 40%;
	position: relative;
	text-align:right;
	 align-self:stretch;
}
footer .footer-right p{
	position: absolute;
	bottom: 0;
	right:0;
	color:#ABB6E1;
	margin:0;
}
footer ul li{
	display: inline-block;
	margin-left: 50px;
}
footer ul li a, footer ul li a:focus, footer ul li a:link, footer ul li a:hover, footer ul li a:visited{
	border: none;
}
footer ul{
	text-align:right;

}
footer button{
	border: 1px solid #EDECE9;
	color: #EDECE9;
}
footer input{
	background: transparent;
	color:#EDECE9;
	outline:none;
	border:none;
	border-bottom:1px solid #EDECE9;
	width: 300px;
	margin-right: 25px;
	vertical-align: bottom;
}
/* HEADERS */

/* SECTIONS */
main{
	width: calc(70% - 100px);
	max-width: 780px;
	display:block;
	margin: auto;
	/* overflow: hidden; */
	padding:50px;
}
main img{
	width: 100%;
	margin: 10px 0 10px 0;
}
main p{
 font-family:'Newsreader';
}

main ul {
	margin: 12px 0;
	padding: 0;
}

main ul li{
  margin: 0;
  padding: 8px 0px 8px 40px;
  list-style: none;
  background-image: url('../assets/icons/flower.svg');
  background-repeat: no-repeat;
  background-position: 0 11px;
  background-size: 22px;
  max-width: 700px;
}
main ol li{
  list-style-type:decimal;
}

/* MOBILE */

@media(max-width: 768px){
	.page{
		display: block;
		position: relative;

	}
	main{
		padding: 25px;
	}
	/* NAVIGATION */
	#left-sticky, main{
		display: block;
		width: auto;
		float:none;

	}
	.navigation.open {
		width:100vw;
	}
	.navigation.open ul, .in-page-navigation ul{
		display: block;
		width:80vw;
		margin: auto;
	}
	#left-sticky{
		position: sticky;
		display: block;
		z-index: 9;
		top:calc(-100vh + 50px);

	}
	.intro img, .intro p {
    	width: 66vw;
	}
	.intro{
		height: calc(100vh - 50px);
		overflow-y: hidden;
	}
	
	.in-page-navigation{
		display: none;
	}

	/* Button styles */

	a.button, a.button:hover, a.button:link, a.botton:focus, a.button:visited, button, button:hover, button:link, button:focus,  button:visited {
		display: block;
		width: 80%;
		margin: 20px auto;
		background: none;
		outline: none;
		border: 1px solid;
		font-family: "Selectric";
		font-size: 20px;
		line-height: 25px;
		text-align: center;
		letter-spacing: -0.1em;
		border-radius:60px;
		padding:20px 30px;
		text-decoration: none;
		cursor: pointer;
	}

	a.button, button{
		color: #2A1D64;
	}

	a.button:hover, button:hover, a.button:focus, button:focus{
		background:#4F30CA; 
		color:#EDECE9;
	}
	audio{
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.audio{
		display: block;
		border:1px solid #2A1D64;
		margin: 30px auto;
		padding: 25px;
		background: url('../assets/textures/noise_bg.png'), linear-gradient(90deg, #eae6f6 0%, #e9e9e9 100%);
		background-blend-mode: soft-light;
	}
	.audio p{
		font-family: 'Selectric';
		font-size: 20px;
		line-height: 28px;
		letter-spacing: -0.1em;
		display: block;
		text-align: center;
		margin: 0 auto;
		padding: 0 0 20px 0;
	}
	/* FOOTER */
	footer{
		flex-direction: column;
	}
	footer .footer-left, footer .footer-right, footer ul{
		width: auto;
		text-align:left;
		margin-bottom:0;
	}
	footer .footer-right p{
		margin-top:2em;
		text-align:center;
		position: relative;
		display: block;
	}
	footer .footer-right ul{
		margin:0;
		padding:0;
		text-align:center;
		display: flex;
		justify-content: space-around;
	}
	footer ul li{
		margin:0;
	}
	footer input{
		width: 100%;
		display: block;
		margin-bottom:3em;
	}
	footer button{
		width: 100%;
		margin-bottom:5em;
	}
}
