
/*Autopia-Bold*/
@font-face {
    font-family: 'Autopia-Bold';
    src: url('Autopia-Bold.eot'); /* IE 9 Compatibility Mode */
    src: url('Autopia-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('Autopia-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('Autopia-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Autopia-Bold.svg#Autopia-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
    }
